<% content_for :head do %>
   

   <%= @pinion.js_url("/assets/js/mapping.js") %>
   <%= @pinion.js_url("/assets/js/fishmeal_click.js") %>
   <%= @pinion.js_url("/assets/js/trade_click.js") %>
   <%= @pinion.js_url("/assets/js/production_click.js") %>
   <%= @pinion.js_url("/assets/js/helpers.js") %>
   <%= @pinion.js_url("/assets/js/graphHelpers.js") %>
   <%= @pinion.js_url("/assets/js/mapLegend.js") %>
   <%= @pinion.js_url("/assets/js/slider.js") %>
    <%= @pinion.js_url("/assets/js/user_instructions.js") %>
   
   <%= @pinion.js_url("/assets/js/multiSelect.js") %>
   <%= @pinion.js_url("/assets/js/speciesSearchText.js") %>
 


    <%= @pinion.css_url("/assets/css/mapping.css") %>
   
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/queue.v1.min.js"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
  
<% end %>

<div class="margin" >

  <div id="navigationWrapper">
  <div class="topNavigation">
    <div class="topNavLeft">
      <ul class="categorySelect">
        <li>
          <a id="selectFishmeal" class="navLinks">Fishmeal</a>
        </li>
         <li>
          <a id="selectTrade" class="navLinks">Trade</a>
        </li>
         <li>
          <a id="selectCapture" class="navLinks">Capture/Production</a>
        </li>
         <li id="loadWarning">
          Loading...
        </li>
      
      </ul>
      <div id="mapLegend"></div>
      <div id="sliderContainer">
        <div id="radios">
          <input type = "radio" name="metric" value = "F" checked="checked"/> Gross (Tonnes)
          <input type = "radio" name="metric" value = "T"/> Per Capita (Kg/person)
        </div>
        <span id="minTopSlide" class="slideLabel" >1981</span><div id="slider"></div><span id="maxTopSlide" class="slideLabel">2010</span>
        
        <div id="amount"></div>        
        <input type="hidden" id="amountVal" value="2009"/>

      </div>
    </div>
    <div class="topNavRight" >
      
      <div id="selectContainer" class="selectContainers">
        <div id="leftSelectContainer">
          <p> All Possible Selections: </p>
          <select multiple="multiple" id="leftValues">
          
          </select>
           <a class="button" id="btnLeft">&gt;&gt;</a>
           <input type="text" id="textSearch" placeholder="Search by Species/Type"/>
           <p id="numMatches"></p>
        </div>
        <div id="rightSelectContainer">
          <p> Selections to <span><select id="include_exclude"><option value="include">Include</option><option value="exclude">Exclude</option></select></span></p>
        
          <select multiple="multiple" id="rightValues">
          </select>
           
          <a class="button" id="btnRight">&lt;&lt;</a>
          <a class="button" id="changeFishSelect">Change Selection</a>
        </div>
      </div> 
    
    
    </div>
 
  </div>
  
  <div id="topWindow">
    <div id="chloropleth"></div>
    <div id = topRightSide>
    
    <div id="chloroInformation"></div>
    </div>
  </div>
  </div>
  <div id="allDetails">
  <div id="currentDetailSelection">
    
  
 

    <div id="changeCountryDetails">
      <p id="nationChooseText"></p>
      <select id="nationDetailsChoose" class="changeGraphFromDropDown">
        
      </select>
      <select id="nationDetailsChooseYear" class="changeGraphFromDropDown">
      </select>
      <a class="button" id="changeGraphType" title="Timeseries">View Full Time Series</a>
      <div id="totalsSummary"></div>
      <div id="import_Export">
        <p> Imports = Left Grouped Column</p>
        <p> Exports = Right Column</p>
      </div>
    </div>
    <div id="graphLoadWarning"></div>
    <div class="graphSpeciesChange" >
      
      <div id="selectContainerBottom" class="selectContainers">
        <div id="leftSelectContainerBottom">
          <p> All Possible Selections For Region: </p>
          <select multiple="multiple" id="leftValuesBottom">
          
          </select>
          <p> Sorted By Decreasing Tonnage. Only Top 9 Selections by Weight Will be Graphed </p>
        </div>
        <div id="middleSelectContainerBottom">
          <a class="button" id="btnLeftBottom">&gt;&gt;</a>
          <a class="button" id="btnRightBottom">&lt;&lt;</a>
        
          <input type="text" id="textSearchBottom" placeholder="Search by Species/Type"/>
          <p id="numMatchesBottom"></p>
        </div>
        <div id="rightSelectContainerBottom">
          <p> Selections to <span><select id="include_excludeBottom"><option value="include">Include</option><option value="exclude">Exclude</option></select></span></p>
          <select multiple="multiple" id="rightValuesBottom">
          </select>
          <a class="button" id="changeFishBottom">Change Selection</a>
      
           
         
        </div>
      </div> 
  
  
    </div>

  </div>
  
  <div id="chloroDetailsWrap">
  
    
    
    <div id="chloroDetails" class="chloroDetails"></div>
    <div id="graphLegend"></div>
  </div>
  
  
 
  </div>
  <div id="pop-up">
  <div id="pop-up-title"></div>
  <div id="pop-up-content">
    <table> 
      <tr>
        <td><div id="pop-img"></div></td>
        <td><div id="pop-desc"></div></td>
      </tr> 
    </table>
  </div>
</div>

<input type="hidden" id="categoryHolder" value="Fishmeal"/>
<input type="hidden" id="groupingTypeHolder" value="region"/>
<input type="hidden" id="graphTypeHolder" value="Bar Chart"/>
<input type="hidden" id="regionHolder" value=""/>
<input type="hidden" id="regionSubset" value="All"/>


</div>

