<% content_for :head do %>
   
    <%= @pinion.js_url("/assets/js/main.js") %>
    <%= @pinion.js_url("/assets/js/search_mechanics.js") %>
    <%= @pinion.js_url("/assets/js/graphing.js") %>
    <%= @pinion.js_url("/assets/js/helpers.js") %>
    <%= @pinion.js_url("/assets/js/cookies.js") %>
    <%= @pinion.js_url("/assets/js/text_indent_browse.js") %>
    <%= @pinion.js_url("/assets/js/forceGraph_browse.js") %>
    <%= @pinion.js_url("/assets/js/customTabs.js") %>
    <%= @pinion.js_url("/assets/js/word_wrapping.js") %>
    
    <%= @pinion.css_url("/assets/css/forms.css") %>
    <%= @pinion.css_url("/assets/css/tabs.css") %>
    <%= @pinion.css_url("/assets/css/textSearch.css") %>
    <%= @pinion.css_url("/assets/css/forceGraph.css") %>
   
    <script src="http://d3js.org/d3.v3.min.js"></script>
  
<% end %>

<div class="margin" >
 
  <% if !defined? federal_tax %>
  <h4 id="stepOne"> Step 1: Enter your Income. We will estimate your taxes and use that<br>
  to calculate what you paid for each specific government program</h3>

  <form class="standard" id="incomeForm" action="/navigate" method="post">
    <table>
      <tr>
        <td><label class="label">What was your income this year?</label></td>
        <td><input type="text" name="income" value="$<%=flash[:value] %>"/></td>
     </tr>
     <tr>
      <td></td><td><input type="submit" name="Start" value="Start"/></td>
     </tr>
    </table>
  </form>
  <% end %>
  <% if defined? federal_tax %>
  <%= @pinion.js_url("/assets/js/presets.js") %>
  
  <input type="hidden" id="federalTaxes" value="<%=federal_tax%>"/>
  <input type="hidden" id="medicare_tax" value="<%=medicare_tax%>"/>
  <input type="hidden" id="ss_tax" value="<%=ss_tax%>"/>
  <input type="hidden" id="totalRevenues" value=1628000000000/>

 
  <h4 id="stepTwo"> Search for a program that interests you. We've provided some of the big ones</h4>
  <h4><a id="hideBrowsing">Browse:</a></h4>
  <%= erb :tab_browse, :layout=> false %>
  
  <div class="govtProgramsWrapper">
  <div>
    <a id="searching">Searching...</a>
    <a id="clearAll" onclick=clearAll(false)>Clear All</a>
  </div>
    <div class="programsList">
    
    </div>
  </div>

  
  <% end %>

</div>

