<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="FishMap"/>

    
    <title>Fish Map</title>  
    
    <%= @pinion.css_url("/css/main.css") %>
    <%= @pinion.css_url("/css/common.css") %>
    <%= @pinion.css_url("/css/ui-lightness/jquery-ui-1.10.1.custom.min.css") %>
    

  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.10.1.custom.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    
   <!-- <script src="http://jquery-textfill.github.io/jquery-textfill/jquery.textfill.min.js"></script>-->

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages: ["corechart"]});
     </script>
    <%= yield_content :head %>
    <%= erb :google_analytics if production? %>
   
  </head>
  <body>
    <div id="header">
      <div class="titleDiv"> <a class= "returnNav" href="/">FishMap FSE</a>
        <div id="headerTableDisplay">
          <p id="instructions">If you see a color, click on it. Find data sources at bottom of page.</p>

          <a id="hide_show" title="show"></a>
          <a href="/about" id="about"></a>

        </div>

      </div>
     <!-- <div class="about">
        <a href="/about">About</a>
        <%#= erb :add_this, :layout=> false %>
      </div>-->
     
    </div>
    <div id="loadingInitial">Loading Initial Data...</div>

    <div id="fullPage">

      <div id="content">

        <%= yield %>
      </div>
    </div>
    <div id="footer">
      <div class="container">
        <span class="copyright">&copy; <%= Time.now.strftime("%Y") %> FishMap</span>
        <a href="/about" id="about">Data/FAQ</a>
      
      </div>
    </div>
  </body>
</html>
