<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="FishMap"/>
    <meta property="og:url" content="http://budgetus.org"/>
    <meta property="og:description" content="CNN's King, John Got Nothin' On Me. 
                                               - Samuel L. Jackson, Training Day"/>
    
    <title>Fish Map</title>  
    
    <%= @pinion.css_url("/css/main.css") %>
    <%= @pinion.css_url("/css/common.css") %>
    <%= @pinion.css_url("/css/jquery-ui-1.10.1.custom.min.css") %>
  
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.10.1.custom.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages: ["corechart"]});
     </script>
    <%= yield_content :head %>
    <%= erb :google_analytics if production? %>
   
  </head>
  <body>
    <div id="header">

      <div class="titleDiv"><h2><a href="/">FishMap!<a></h2></div>
     <!-- <div class="about">
        <a href="/about">About</a>
        <%#= erb :add_this, :layout=> false %>
      </div>-->
     
    </div>
    <div id="fullPage">
    <!--  <div id="sidebar">
        <%# if defined? federal_tax %>
        <div class="changeBudget">
          <form class="standard" id="incomeForm" action="/navigate" method="post">
            Change income:
              
            <input type="text" name="income" value="$<%=flash[:value] %>"/>
            <input type="submit" name="Start" value="Update"/>
          
          </form>
        </div>
        <div id="navigationHeader">
          <h3> Navigation History </h3>
        </div>
        <div id="navTable">
        <div id="navSorting">
          <div id="arrow">&uarr;</div>
          <div id="new"><p>Most Recent</p></div>
        </div>
        <div id="navigationWrapper"></div>
        </div>
        <%#end%>
      </div>-->
      <div id="content">
        <%= yield %>
      </div>
    </div>
    <div id="footer">
      <div class="container">
        <span class="copyright">&copy; <%= Time.now.strftime("%Y") %> FishMap!</span>
        <!--<a href="#">Terms of Use</a> |
        <a href="#">Privacy Policy</a> |-->
        <!--<a href="/about">About</a> |    
        <a href="mailto:budgetus.contact@gmail.com" target="_blank">budgetus.contact@gmail.com</a>-->
      </div>
    </div>
  </body>
</html>
