<% content_for :head do %>

  <%= @pinion.js_url("/assets/js/mapping.js") %>
  <%= @pinion.js_url("/assets/js/helpers.js") %>
  <%= @pinion.css_url("/assets/css/mapping.css") %>
     
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://d3js.org/queue.v1.min.js"></script>
  <script src="http://d3js.org/topojson.v1.min.js"></script>
   
<% end %>

<div>
  <select class="dropDown">
    <%@map_list.each_slice(1) do |slice| %>
      <% slice.each do |map| %>
        <option value="<%=map.agency_id%>"
          <% if map.agency_id == "2800" %>
            selected="selected"
          <%end%>
          ><%=map.agency%></option>          
      <%end%>
    <%end%>
  </select>      
</div>
<div id="status">
 
  <div class="description">
  
   
    <div id="descriptionTableLeft">
    <table>
      <tr><td>County:</td><td class="rightAlign"><div class="countyName"></div></td></tr>
      <tr><td>Spending (per capita):</td><td class="rightAlign"><div class="countySpending"></div></td></tr>
      <tr><td>Rank:</td><td class="rightAlign"><div class="countyRanking"></div></td></tr>
    </table>
    </div>
    <div id="descriptionTableRight">
     
      <div id="descRightContent"></div>
       <div id="disclaim"></div>
    </div>
  
  </div> 
</div>

<div id="returnZoom"><a class="button">Zoom Out</a></div>
<div id="chloropleth"></div>
<div id="chloroInformation">
  The above map represents county level expenditures for 2010. Agencies where spending occured in at least 50% of all US counties are represented 
</div>
<div id="pop-up">
  <div id="pop-up-title"></div>
  <div id="pop-up-content">
    <table> 
      <tr>
        <td><div id="pop-img"></div></td>
        <td><div id="pop-desc"></div></td>
      </tr> 
    </table>
  </div>
</div>